= link_to "#{theme.capitalize}.css (compiled)", "https://s3-us-west-2.amazonaws.com/bs4themes/themes/#{theme}/#{theme}.css", class: "dropdown-item", rel: "nofollow"
= link_to "#{theme.capitalize}.zip (all files)", "https://s3-us-west-2.amazonaws.com/bs4themes/themes/#{theme}/#{theme}.zip", class: "dropdown-item", rel: "nofollow"
.dropdown-divider
= link_to "#{theme.capitalize}_skin.scss", "https://s3-us-west-2.amazonaws.com/bs4themes/themes/#{theme}/skin.scss", class: "dropdown-item", rel: "nofollow"
= link_to "#{theme.capitalize}_variables.scss", "https://s3-us-west-2.amazonaws.com/bs4themes/themes/#{theme}/variables.scss", class: "dropdown-item", rel: "nofollow"
