// images           ===========================================================


// code             ===========================================================


// grid             ===========================================================


// type             ===========================================================


// tables           ===========================================================


// forms            ===========================================================


// buttons          ===========================================================


// animation        ===========================================================


// dropdown         ===========================================================


// button-group     ===========================================================


// input-group      ===========================================================


// custom-forms     ===========================================================


// nav              ===========================================================


// navbar           ===========================================================
.navbar {
  .container { line-height: 2; }
  .nav-item {
    padding-right: 20px;
    margin-left: -20px;
    border-right: $border-width solid lighten($brand-primary, 40%);
    &:first-child { margin-left: 0; }
    &:last-child { border-right: none; }
  }
}

// card             ===========================================================


// breadcrumb       ===========================================================


// pagination       ===========================================================


// pager            ===========================================================


// labels           ===========================================================


// jumbotron        ===========================================================


// alert            ===========================================================


// progress         ===========================================================


// media            ===========================================================


// list-group       ===========================================================


// responsive-embed ===========================================================


// close            ===========================================================


// modal            ===========================================================


// tooltip          ===========================================================


// popover          ===========================================================
.popover-title {color: #fff;}
.popover-content {color: #fff;}

// carousel         ===========================================================
