.jumbotron {
  margin-bottom: 30px;
}
section {
  @extend .m-b-2;
}
article {
  @extend .m-y-1;
}
.section-title {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px dotted $gray-lighter;
}

#sidebar {
  &.sps--blw {
    position: fixed;
    top: 55px;
  }

  &.nav-pills {
    .nav-link {
      border-left: 3px solid transparent;
      color: $text-muted;
      background: initial !important;
      &.active,
      &.focus,
      &:hover, {
        border-left: 3px solid $brand-primary;
        color: $brand-primary;
        background: initial !important;
        @include box-shadow(none);
      }
    }
  }
}

#buttons,
#dialogs-popovers,
#dialogs-tooltips,
#previews,
.jumbotron {
  .btn-group .btn { margin-right: 0; }
  .btn { 
    margin-right: 0.5rem;
    &:last-child { margin-right: 0; }
  }
}
.navbar {
  .form-inline {
    .form-control {
      margin-right: $spacer-x / 2;
    }
  }
}
#indicators-labels {
  .label { 
    margin-right: 0.5rem;
    &:last-child { margin-right: 0; }
  }
}
.modal-example .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}


.navbar .nav-btn-group {
  margin-left: $spacer-x / 2;
  padding: 0;
  &:hover,
  &:focus {
    background: transparent !important;
  }
  .btn-group {
    .btn {
      padding-top:    .425rem;
      padding-bottom: .425rem;
      margin-bottom: 0;
    }
  }
}

#focusedInput {
  border-color: $input-border-focus;
  outline: none;
  $shadow: $input-box-shadow, 0 0 8px $input-box-shadow-focus;
  @include box-shadow($shadow);
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-right: 0.25rem;
}
