header {
  margin-bottom: 1rem;
}
.section-title {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $gray-lighter;
}

#sidebar {
  &.sps--blw {
    position: fixed;
    top: 35px;
  }
}

#buttons {
  .btn-group .btn { margin-right: 0; }
  .btn { 
    margin-right: 0.5rem;
    &:last-child { margin-right: 0; }
  }
}
