.bg-faded {
  color: $body-bg;
}
// images           ===========================================================


// code             ===========================================================


// grid             ===========================================================


// type             ===========================================================


// tables           ===========================================================
.table-striped tbody tr:nth-of-type(odd) {
  color: $body-bg;
}
.table-active { color: $body-bg; }
.table-success { color: $body-bg; }
.table-info { color: $body-bg; }
.table-warning { color: $body-bg; }
.table-danger { color: $body-bg; }
.table-hover tbody tr:hover { color: $body-bg; }
.table-inverse,
.thead-inverse th {
  background-color: $gray-lighter;
  color: $gray-dark;
}

// forms            ===========================================================
.radio,
.checkbox {
  margin-bottom: ($spacer * .25);
}
.form-group.row > .form-control-label { text-align: right; }
// buttons          ===========================================================


// animation        ===========================================================


// dropdown         ===========================================================


// button-group     ===========================================================


// input-group      ===========================================================


// custom-forms     ===========================================================


// nav              ===========================================================


// navbar           ===========================================================
.navbar-brand {
  font-family: $headings-font-family;
}
.navbar {
  &.bg-faded { @include gradient-vertical(mix(white, $brand-primary, 90%), $brand-primary, 95%); }
  &.bg-primary { @include gradient-vertical($brand-primary, $body-bg, 90%, 95%); }
  &.bg-inverse { @include gradient-vertical($body-bg, $brand-primary, 80%); }
}
header .navbar {
  &.bg-faded { @include box-shadow(0px $border-radius-sm $border-radius-lg $brand-primary); }
  &.bg-primary { @include box-shadow(0px $border-radius-sm $border-radius-lg $body-bg); }
  &.bg-inverse { @include box-shadow(0px $border-radius-sm $border-radius-lg $brand-primary); }
}
.nav-link { @include transition(all $duration ease); }

// card             ===========================================================


// breadcrumb       ===========================================================
ol.breadcrumb { 
  border: 1px solid $body-color;
}

// pagination       ===========================================================
.pagination a {
  @include transition(all $duration ease);
  &:hover {
    text-decoration: none;
  }
}

// pager            ===========================================================
.pager a {
  @include transition(all $duration ease);
}

// labels           ===========================================================


// jumbotron        ===========================================================


// alert            ===========================================================


// progress         ===========================================================


// media            ===========================================================


// list-group       ===========================================================


// responsive-embed ===========================================================


// close            ===========================================================


// modal            ===========================================================


// tooltip          ===========================================================


// popover          ===========================================================


// carousel         ===========================================================


.btn,
.card,
.breadcrumb,
.pagination,
.pager li a,
.jumbotron,
.alert,
.progress,
.table,
.nav-pills .nav-link.active,
.list-group {
  @include box-shadow(0 2px 2px rgba(0,0,0,.125));
}
