// images           ===========================================================


// code             ===========================================================


// grid             ===========================================================


// tables           ===========================================================


// forms            ===========================================================


// buttons          ===========================================================


// animation        ===========================================================


// dropdown         ===========================================================


// button-group     ===========================================================


// input-group      ===========================================================


// custom-forms     ===========================================================


// nav              ===========================================================


// navbar           ===========================================================
// Dark links against a light background
.navbar-light {
  background-color: #fff;
  
  .navbar-brand {
    color: $navbar-light-active-color;

    @include hover-focus {
      color: $navbar-light-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $navbar-light-hover-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(0,0,0,.075);
  }
}

// White links against a dark background
.navbar-dark {
  .navbar-brand {
    color: $navbar-dark-active-color;

    @include hover-focus {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $navbar-dark-hover-color;
      }
    }

    .open > .nav-link,
    .active > .nav-link,
    .nav-link.open,
    .nav-link.active {
      @include plain-hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }

  .navbar-divider {
    background-color: rgba(255,255,255,.075);
  }
}

// card             ===========================================================


// breadcrumb       ===========================================================


// pagination       ===========================================================


// pager            ===========================================================


// labels           ===========================================================


// jumbotron        ===========================================================


// alert            ===========================================================


// progress         ===========================================================


// media            ===========================================================


// list-group       ===========================================================


// responsive-embed ===========================================================


// close            ===========================================================


// modal            ===========================================================


// tooltip          ===========================================================


// popover          ===========================================================


// carousel         ===========================================================


